.product {
  width: 90%;
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 0.25s;
}

.product:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.product h1 {
  font-size: 2rem;
  margin: 0;
  width: 100%;
}

.product h1 span.painting_type {
  font-style: italic;
  color: darkgray;
  font-size: 1.7rem;
}

.product h2 {
  font-size: 1rem;
  margin: 0;
}
.product h3 {
  font-size: 1rem;
  margin: 0;
}

.product p {
  margin: 0;
  width: 100%;
}

.product img {
  width: 100%;
  margin: 0;
}

.cart-btn {
  height: 3rem;
  width: auto;
  margin: 0;
  padding: 4px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border-color: lightgray;
  background-color: lightgray;
  cursor: pointer;
  border-radius: 8px;
  transition: border-color 0.25s;
  transition: background-color 0.25s;
}

.cart-btn:hover {
  border-color: lightgreen;
  background-color: lightgreen;
}

.red-btn {
  background-color: salmon;
  border-color: salmon;
}

.red-btn:hover {
  background-color: red;
  border-color: red;
}

.cart-btn img {
  height: 90%;
  width: auto;
}

@media screen and (min-width: 900px) {
  .product {
    max-width: 400px;
    height: 37rem;
  }

  .product p {
    height: 5.5rem;
    overflow-y: auto;
  }

  .product > img {
    height: 15rem;
    object-fit: cover;
  }
}

@media screen and (min-width: 1260px) {
  .product {
    max-width: 350px;
  }
}
